.ngmp18 {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
  
.ngmp18__hw3 {
    color: #333;
}
  
.ngmp18__hw3--t7 {
    font-weight: bold;
}